---
layout: default
navi:
 exclude: yes
---
<div class="container">
  <div class="row">
   <div class="eight columns swapper">

    <section id="popular-posts">
      <span id="note">Popular Posts</span>
      <br><br>
      {% for post in site.posts %}
         {% if post.tags contains 'popular' %}
        <p>
          <strong>
            <a href=".{{ post.url }}">{{ post.title }}</a>
          </strong>
        <br>
          {% if post.update %}<em> Updated {{ post.update | date: "%d %b %Y" }}: </em>{% endif %}{{ post.description }}
        </p>
        {% endif %}
      {% endfor %}
      <hr class="home">
    </section>



    <section id="new-posts">
      {{ site.ads.aads728 }}
      <br>
      <span id="note">New Posts</span>
      {% for post in site.posts offset: 0 limit: 15 %}
        <h4 class="post">
          <strong>
            <a href=".{{ post.url }}">{{ post.title }}</a>
          </strong>
          <small>{{ post.date | date_to_string }}</small>
        </h4>
        <div class="row">
          <div class="nine columns">
            {{ post.description }}
            {% if post.comments %}
            <p>
              [<a href="{{ site.url }}{{ site.baseurl}}{{ post.url }}#disqus_embed">
              Comments
              </a>]
            </p>
            {% endif %}
          </div>
          {% if post.image[0] %}
          <div class="three columns">
            <a target="_blank" href="{{ post.url }}">
              <figure class="thumb">
                <amp-img itemprop="image" src="{{ post.image[0] }}" alt="Altcoin Trading Blog"
                layout="fixed"
                width="150px" height="80px">
                </amp-img>
              </figure>
            </a>
          </div>
          {% endif %}
        </div>
      {% endfor %}
      {{ site.ads.aads728 }}
    </section>






    </div>


    <div class="four columns notopmargin">
      {% include sidebar.html %}
    </div>


  </div>
