<div id="sidebar">
  <section>
    <ul class="divided">
      <li>
        <div>
          <amp-iframe
            width=336 height=280
            layout="responsive"
            data-aa="147074"
            sandbox="allow-scripts allow-same-origin allow-modals allow-popups allow-forms"
            src="https://ad.a-ads.com/147074?size=336x280">
            <amp-img layout="fill" src="/img/ads/ad-placeholder.jpg" placeholder></amp-img>
          </amp-iframe>
        </div>
      </li>
      <li>
        <h3>Coupon Codes For Crypto Exchanges:</h3>
        <ul>
          <li>
            <a  target="_blank" rel="nofollow" href="https://www.bitfinex.com/?refcode=5egV78YtlC" >BITFINEX COUPON <b>5egV78YtlC</b> (10% off fee)</a></li>
          <li>
            <a  target="_blank" rel="nofollow" href="https://www.bitmex.com/register/iYQB44">BITMEX COUPON <b>iYQB44</b> (10% off fee)</a></li>
          <li>
            <a  target="_blank" rel="nofollow" href="https://www.coinmama.com/?ref=fny3000">COINMAMA fny3000 + <b>5% discount 190TY584</b></a></li>
        </ul>
      </li>
      <li>
      <h3>Hardware Wallet for altcoins:</h3>
        {{ site.ads.trezorbox }}
        <br>
        <a href="/trezor-multicoin/">Trezor supports altcoins ZCASH, DASH, ETH and LTC.</a>
      </li>
      <li>
      <h3>Hassle-free profit taking to virtual Credit Card:</h3>
        <div>
          {{ site.ads.acashgreen }}
        </div>
      </li>
      <h3>Bitcoin News:</h3>
        <ul>
          <li><a href="https://www.reddit.com/r/bitcoinmarkets" target="_blank">/r/bitcoinmarkets</a></li>
          <li><a href="https://www.reddit.com/r/cryptomarkets" target="_blank">/r/cryptomarkets</a></li>
          <li><a href="http://www.altcointoday.com">AltcoinToday</a></li>
          <li><a href="http://www.coindesk.com/category/technology/altcoins/">Coindesk</a></li>
        </ul>
      <li>
        <h3>Algo Trading</h3>
        <ul>
          <li><a target="_blank" href="https://cryptotradingtools.com">Crypto Trading Tools</a></li>

        </ul>
      </li>

      <li>
        <h3>Bitcoin Cold Storage:</h3>
        <div>
          {% banner300 https://www.ledgerwallet.com/images/promo/ledger-500x500-01.jpg https://www.ledgerwallet.com/r/e274 %}
        </div>
      </li>

      <li>
        <div>

          <amp-iframe
            width=336 height=280
            layout="responsive"
            data-aa="147074"
            sandbox="allow-scripts allow-same-origin allow-modals allow-popups allow-forms"
            src="https://ad.a-ads.com/147074?size=336x280">
            <amp-img layout="fill" src="/img/ads/ad-placeholder.jpg" placeholder></amp-img>
          </amp-iframe>

        </div>
      </li>

      <li>
        <h3>Follow this site</h3>
        {{ site.ads.feeds }}
      </li>

      
      <li>
        <h3>Warning - Bitfinex coins</h3>

             <div class="tooltip">
               <input type="checkbox" value="selected" id="warning-1" class="tooltip-input">
               <label for="warning-1" class="tooltip-label">Toggle Warning</label>
               <div role="tooltip" id="tooltipID" class="tooltip-content">
                 <div class="warning">
                   <strong>WARNING</strong>
                     <p>These days, after Jan 27 2017, it is most important to check if you're getting clean coins.
                     <a href="https://bitcointalk.org/index.php?topic=1766723.0" target="_blank">On Jan 27 someone published a list of transactions</a>
                     that proved the bitcoins stolen in the Bitfinex hack in august 2016 started moving.</p>
                     <p>Apparently the hacker is now trying to move small chunks of the coins to bitcoin exchanges.
                     It is likely that they might try to use a mixing service to clean the bitcoin or that they will
                     even set up their own mixer. </p>
                     <p>Therefore always check where did your bitcoins came from - even
                     if you just deposited them for lending on Poloniex. You will probably not be getting back your
                     original bitcoins but bitcoins with a different history.</p>
                     </div>
              </div> <!--/.tooltip-content-->
             </div><!--/.tooltip-->
      </li>



    </ul>
  </section>
</div>
