<div id="sidebar">
  <section>
    <ul class="divided">
      <li>
      <div>
        <script>
        crypt_multi_num_cur = "5";
        crypt_base_cur_0 = "MaidSafeCoin (MAID)";
        crypt_target_cur_0 = "Bitcoin (BTC)";crypt_base_cur_1 = "Monero (XMR)";
        crypt_target_cur_1 = "Bitcoin (BTC)";crypt_base_cur_2 = "BitShares (BTS)";
        crypt_target_cur_2 = "Bitcoin (BTC)";crypt_base_cur_3 = "Dash (DASH)";
        crypt_target_cur_3 = "Bitcoin (BTC)";crypt_base_cur_4 = "Ethereum (ETH)";
        crypt_target_cur_4 = "Bitcoin (BTC)";crypt_multi_border_width = 0;
        crypt_multi_border_corners = "square";crypt_multi_font_family = "Verdana";
        crypt_multi_font_size = "small";crypt_multi_font_color = "#001f3f";
        </script>
        <script src="https://www.cryptonator.com/ui/js/widget/multi_widget.js"></script>
      </div>
      </li>
      <li>
        <div>
          <iframe data-aa='147074' src='https://ad.a-ads.com/147074?size=336x280' scrolling='no' style='width:336px; height:280px; border:0px; padding:0;overflow:hidden' allowtransparency='true' frameborder='0'></iframe>
        </div>
      </li>
      <li>
        <div>
            {% banner300 /img/vcc/wirex.png https://www.e-coin.io/?ref=8dc1bab8343c41049b4cb7a2f1e47b4e %}
        </div>
      </li>
      <h3>Bitcoin News:</h3>
        <ul>
          <li><a href="https://www.reddit.com/r/bitcoinmarkets" target="_blank">/r/bitcoinmarkets</a></li>
          <li><a href="https://www.reddit.com/r/cryptomarkets" target="_blank">/r/cryptomarkets</a></li>
        </ul>     

      <li>
        <div>
          {% banner300 https://www.ledgerwallet.com/images/promo/ledger-500x500-01.jpg https://www.ledgerwallet.com/r/e274 %}
        </div>
      </li>
      <li>
      <div class="">
        {% banner300 /img/bitfinex/bitfinex_referral-code_300.jpg https://www.bitfinex.com/?refcode=5egV78YtlC %}
      </div>
      </li>
    </ul>
  </section>
</div>
