@-moz-document url-prefix() {
  ul {list-style: circle;}
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #727272;
    font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', serif;
}

.maincontent h6 {
  color: #222;
  font-weight: 800
}

a, a:hover {
  color: #222;
  text-decoration: none;
}
.homebox a {
  color: #444;
  text-decoration: none;
}
.homebox a:hover {
  color: #444;
  text-decoration: underline;
}
.maincontent p a{
color: #c1072c;
text-decoration: none;
}
.maincontent img a{
  border-bottom: 0px solid #7A838D;
}

h4.post {
    margin-top: 0px;
    background: #7A838D;
    color: #fff;
    padding: 5px 10px 3px;
    margin-left: -10px;
}


img.post {
    max-width: 100%
}



/* Knecht - modif */

.container {
    max-width: 1170px
}

footer {
  border-top: 2px solid #c1072c;
  display: block;
  width: 100%;
  float: left;
}
footer{
font-size: 80%;
padding: 1.8rem 0;
}
.footeritem {
  display: block;
    width: auto;
    float: left;
    padding: 2.8rem 0;
    margin-right: 1rem;
}
.footeritem > a > img {
    position: relative;
    top: 3px;
}
nav {
  display:block;
  max-width:100%
}

img.hero {
  width: 100%
}

.shoutout {
  padding: 1.8rem;
  background: rgba(238,238,238,0.8);
  margin-bottom: 3.8rem;
}

.shoutout-void {
  padding: 1.8rem;
  background: #fff;
  margin-bottom: 3.8rem;
}

.homebox{
  display: block;
  float:left;
  background: #cfcfcf;
  padding: 0.8rem;
  min-height:362px;
  line-height: 1;
}
.homebox .row {
  margin-bottom: 0;
  line-height: 1.6;
}
.homebox .eight {
  padding-top: 5%!important;
}

img.full {
  width:100%
}

.geschichte img {
  width:100%
}

th:first-child, td:first-child {
    padding-left: 0;
    color: #444;
    font-weight: 800;
}



/* Media Queries */
/* Larger than mobile */
@media (min-width: 400px) {}
/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  h4 {font-size: 2.3rem;}
}
/* Larger than tablet */
@media (min-width: 750px) {}
/* Larger than desktop */
@media (min-width: 1000px) {}
/* Larger than Desktop HD */
@media (min-width: 1200px) {}

@media (max-width: 500px) {

  img, figure {
    max-width: 100%!important;
  }
}
