---
layout: default-news
---
<div class="container">
  <div class="row">

   <div class="eight columns">
     <div class="shifted-left">
       {{ site.ads.aads728 }}
     </div>
       <span id="note">
         <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%d %b %Y" }}</time>
       </span>
       <h4 class="post">
          <strong>
            {{ page.title }}
          </strong>
        </h4>
        {% if page.update %}
        <small>
          <time datetime="{{ page.update | date_to_xmlschema }}">
            Last Update: {{ page.update | date: "%d %b %Y" }}
          </time>
        </small>
        {% endif %}
        <article class="maincontent">

          {{ content }}

          {% if page.comments %}

          <br>

          <h4 class="post comment" id="disqus_embed">Comment on "{{ page.title }}"</h4>


          <amp-iframe width=600 height=140
            layout="responsive"
            sandbox="allow-scripts allow-same-origin allow-modals allow-popups allow-forms"
            resizable
            src="https://amp2disqus.netlify.com/altcointrading/#{{ page.permalink }}">
            <div overflow tabindex=0 role=button aria-label="Read more">Read more!</div>
          </amp-iframe>

          <br>

          {% endif %}

        </article>
    </div>
    <div class="four columns nomargintop">
      {% include sidebar.html %}
    </div>
  </div>
