---
layout: default-coin
---
<div class="container">
  <div class="row">

   <div class="eight columns">
       <h4 class="post">
          <strong>
            About {{ page.title | upcase }}
          </strong>
        </h4>
        <article class="maincontent">

          {{ site.ads.aads }}

          {{ content }}

          <span id="note">"Filtering posts by altcoin: {{ page.title }}"</span>

          {% for post in site.posts %}
            {% if post.category contains page.title or post.categories contains page.title %}
            <h4 class="post">
            <strong>
            <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title | capitalize }}</a>
            </strong>
            <small>{{ post.date | date_to_string }}</small>
            </h4>

            <div class="row">

              <div class="nine columns">
                {{ post.description }}
              </div>

              {% if post.image[0] %}
              <div class="three columns">
                <a target="_blank" href="{{ post.url }}">
                  <figure class="thumb">
                    <amp-img itemprop="image" src="{{ post.image[0] }}" alt="Altcoin Trading Blog" layout=""
                    width="150px" height="80px">
                    </amp-img>
                  </figure>
                </a>
              </div>
              {% endif %}



            </div>

            {% endif %}
          {% endfor %}



        </article>
    </div>
    <div class="four columns notopmargin">
      {% include sidebar.html %}
    </div>
  </div>
